.chat {
  display: flex;
  height: 100vh;
  flex-direction: column;
  .bottom-view {
    width: 100%;
    height: 56px;
    overflow: hidden;
    transition: height 200ms;
  }
  .bottom-view{
    &.show {
      width: 100%;
      height: 285px;
    }
  }
  .chat-view {
    flex: 1;
    background-color: rgb(237, 237, 237);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}
